@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

* {
  /* border: 2px solid red; */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Geist", sans-serif;
  background-image: url(/public/assets/images/auth-bg.png);
}

.tinder-card, .job-listing-card {
  @apply w-full bg-[#F7FFF9] rounded-xl border-3 border-[#65956C] px-10 py-10 flex flex-col shadow-xl gap-2;
}

.status-badge {
  @apply px-3 py-1 text-sm font-medium rounded-lg;
}

.status-active {
  @apply bg-green-100 text-green-800;
}

.status-closed {
  @apply bg-red-100 text-red-800;
}

@import "tailwindcss";
@import "tailwindcss/preflight";
@tailwind utilities;
@tailwind utilities;

/* npx @tailwindcss/cli -i ./public/assets/css/input.css -o ./public/assets/css/output.css --watch */
